*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrap{
  width: 960px;
  height: 1000px;
  margin: auto;
  border: orange 3px solid;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* align-content: flex-start; */
  /* align-items: center; */
  /* flex-direction: row-reverse; */
}
.img{
  width: 700px;
  height: 525px;
  opacity: .5;
  position: absolute;
  /* border: #0f0 5px dashed; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
.point{
  /* border: springgreen 10px dashed; */
  background-color: #fa0;
  width: 350px;
  height: 525px;
  position: relative;
  top: 85px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  opacity: .1;
}
.point h2{
  flex-grow: 1;
  background-color: #bbb;
}
.point p{
  flex-grow: 2;
  background-color: #f00;
  opacity: .1;
}

.bgc{
  width: 440px;
  height: 350px;
  background-color: #aaa;
  position: relative;
  top: -120%;
  right: -50%;
  z-index: -1;
}
.descript{
  position: relative;
  /* .descript 高，繼承 wrap 的高 */
  /* wrap 的 height = 1000px */
  /* 折衷-把高設為固定，奇數列-3，偶數列-2 */
  height: 300px;
  background-color: #ddd;
  width: 560px;
  
  top: 70%;
  left: -30%;
}

.title{
  display: flex;
  line-height: 48px;
  padding: 10px;
}
.title p{
  font-size: 24px;
}

.line{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 10px;
  border-top: 1px #000 solid;
  flex-grow: 1;
} 

.detail{
  padding: 10px;
  line-height: 30px;
}

.icon{
  width: 60px;
  height: 40px;
  background-color: #f00;
  position: relative;
  right: -82%;
  bottom: 20%;

  z-index: 1;
}
.triangle{
  height: 0;
  border-top: transparent 12px solid;
  border-left: #fff 24px solid;
  border-bottom: transparent 12px solid;

  position: relative;
  top: 20%;
  margin-left: 35%;
}



