.container{
  width: 100%;
}
/* header */
.container .header{
  background-color: #ccc;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container .header .search,
.container .header .main_logo,
.container .header .signature{
  font-size: 12px;
  padding: 10px;
  flex-grow: 1;
}

/* search */
.container .header .search{
  display: flex;
}

.container .header .search .serch_icon{
  align-self: center;
  margin-right: 10px;
  text-decoration: none;
}

.container .header .search .serch_icon img{
  vertical-align: middle;
}
.container .header .search .search_text span{
  display: block;
}



/* main_logo */
.header .main_logo .main_logo_pic{
  display: block;
  text-decoration: none;
}
.header .main_logo .main_logo_pic h1 span{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.header .main_logo .main_logo_pic img{
  vertical-align: middle;
}
/* signature */
.header .signature{
text-align: end;
}
.header .signature span,
.header .signature .initiative{
  display: block;
}
.header .signature span{
  padding-bottom: 10px;
}
.header .signature .initiative img{
  vertical-align: middle;
}

/* nav_bar */
.container .nav_bar{
  background-color: #a8a;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.nav_bar .intro_link, .nav_bar .nav_list, .nav_bar .business-link{
  flex-grow: 1;
  font-size: 16px;
  padding: 10px;
}

.nav_bar .intro_link a{
  display: inline-block;
  text-decoration: none;
  color: #d55;
}
